<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../base.css" rel="stylesheet"/>
    <link href="../color/color.css" rel="stylesheet"/>
    <link href="input.css" rel="stylesheet"/>
    <script src="input.js"></script>
</head>
<body class="background-third">
<div class="safe-area">
    <div class="text-box">
        <span>Place holder</span>
        <input placeholder=" " class="text-input" required="" onfocusin="focusin(this)" onfocusout="focusout(this)">
    </div>
</div>
</body>
</html>