@layer neumorphism-style {
    .border {
        position: absolute;
        background: linear-gradient(180deg, #FFFFFF 0%, #E1E6EC 100%);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .solid {
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    .dynamic-size {
        padding: 24px;
        visibility: hidden;
        display: flex;
    }

    .status {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 1;
        transition: .2s ease;
    }
}
@layer button {
    button {
        display: flex;
        border: 0;
        justify-content: center;
        align-items: center;
        /*background: var(--depth-1-color);*/
        /*box-shadow: -4px -4px 6px #FFFFFF, 4px 4px 6px #D2D4D5;*/
        position: relative;
        opacity: 1;

    }

    button * {
        font-family: Spoqa Han Sans Neo;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: center;
        transition: .2s ease;
    }

    button .solid {
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        border-radius: 12px;

    }

    button .border {
        border-radius: 14px;
        box-shadow: -10px -10px 20px #FFFFFF, 10px 10px 20px #DAE0E6;
    }

    /* primary button */
    button.primary {
        color: white;
        cursor: pointer;
    }
    button.primary .hover .border {
        background: linear-gradient(105deg, var(--light-shadow) 0%, var(--dark-shadow) 100%);
        box-shadow: 0px -10px 20px #FFFFFF, 0px 10px 40px #B8C2CC;
    }
    button.primary .hover .solid {
        background: linear-gradient(105deg, var(--primary-color) 0%, var(--primary-color) 100%);
    }
    button.primary:hover .hover {
        opacity: 1;
    }
    button.primary .active .border {
        background: linear-gradient(115deg, #7CE5FF 17%, #0066CC 65%);
    }
    button.primary .active .solid {
        background: linear-gradient(105deg, var(--light-shadow) 0%, var(--dark-shadow) 100%);
        box-shadow: inset -4px -4px 8px #66B3FF, inset 4px 4px 8px var(--dark-shadow);
    }
    button.primary:active .active {
        opacity: 1;
    }
    button.primary:active .hover {
        opacity: 0;
    }
    button.primary .solid {
        background: linear-gradient(105deg, var(--light-shadow) 0%, var(--dark-shadow) 100%);
    }
    button.primary .border {
        background: linear-gradient(115deg, #7CE5FF 17%, #0066CC 65%);
    }
    button.primary .content {
        border-radius: 14px;
    }
}