@layer setup {
    .justify-content-center{
        justify-content: center;
    }
    .align-items-center{
        align-content: center;
    }
    .border {
        position: absolute;
        /*background: linear-gradient(180deg, #FFFFFF 0%, #E1E6EC 100%);*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .solid {
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    .dynamic-size {
        visibility: hidden;
        display: flex;
    }

    .status {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 1;
        transition: .2s ease;
    }
}
@layer button {
    button {
        display: flex;
        border: 0;
        justify-content: center;
        align-items: center;
        position: relative;
        opacity: 1;
        background: transparent;
    }

    button * {
        letter-spacing: 0px;
        text-align: center;
        transition: .2s ease;
    }

    button.medium *{
        font-size: 32px;
        line-height: 40px;
    }
    button.small *{
        font-size: 24px;
        line-height: 28px;
    }
    button.small *{
        font-size: 18px;
        line-height: 24px;
    }

    button.medium{
        border-radius: 12px;
    }
    button.small{
        border-radius: 10px;
    }
    button.xsmall{
        border-radius: 6px;
    }

    button.medium .dynamic-size{
        padding: 24px;
    }
    button.small .dynamic-size{
        padding: 12px;
    }
    button.xsmall .dynamic-size{
        padding: 6px;
    }

    button.medium .solid {
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        border-radius: 12px;
    }
    button.small .solid {
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
        border-radius: 10px;
    }
    button.xsmall .solid {
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
        border-radius: 6px;
    }

    button .border {
    }
    /* IDLE */
    .background-primary:not(:has(.background-secondary)):not(:has(.background-third)) button.medium .shadow{
        box-shadow: -10px -10px 20px var(--primary-light-solid), 10px 10px 20px var(--primary-dark-solid);
    }
    .background-secondary:not(:has(.background-primary)):not(:has(.background-third)) button.medium .shadow{
        box-shadow: -10px -10px 20px var(--secondary-light-solid), 10px 10px 20px var(--secondary-dark-solid);
    }
    .background-third:not(:has(.background-secondary)):not(:has(.background-third)) button.medium .shadow{
        box-shadow: -10px -10px 20px var(--third-light-solid), 10px 10px 20px var(--third-dark-solid);
    }

    .background-primary:not(:has(.background-secondary)):not(:has(.background-third)) button.small .shadow{
        box-shadow: -6px -6px 12px var(--primary-light-solid),  6px 6px 12px var(--primary-dark-solid);
    }
    .background-secondary:not(:has(.background-primary)):not(:has(.background-third)) button.small .shadow{
        box-shadow: -6px -6px 12px var(--secondary-light-solid),  6px 6px 12px var(--secondary-dark-solid);
    }
    .background-third:not(:has(.background-secondary)):not(:has(.background-third)) button.small .shadow{
        box-shadow: -6px -6px 12px var(--third-light-solid),  6px 6px 12px var(--third-dark-solid);
    }

    .background-primary:not(:has(.background-secondary)):not(:has(.background-third)) button.xsmall .shadow{
        box-shadow: -3px -3px 6px var(--primary-light-solid),  3px 3px 6px var(--primary-dark-solid);
    }
    .background-secondary:not(:has(.background-primary)):not(:has(.background-third)) button.xsmall .shadow{
        box-shadow: -3px -3px 6px var(--secondary-light-solid),  3px 3px 6px var(--secondary-dark-solid);
    }
    .background-third:not(:has(.background-secondary)):not(:has(.background-third)) button.xsmall .shadow{
        box-shadow: -3px -3px 6px var(--third-light-solid),  3px 3px 6px var(--third-dark-solid);
    }

    /* hover */
    .background-primary:not(:has(.background-secondary)):not(:has(.background-third)) button.medium .hover .shadow{
        box-shadow: 0px -10px 20px var(--primary-light-solid), 0px 10px 40px var(--primary-dark-solid);
    }
    .background-secondary:not(:has(.background-primary)):not(:has(.background-third)) button.medium .hover .shadow{
        box-shadow: 0px -10px 20px var(--secondary-light-solid), 0px 10px 40px var(--secondary-dark-solid);
    }
    .background-third:not(:has(.background-secondary)):not(:has(.background-third)) button.medium .hover .shadow{
        box-shadow: 0px -10px 20px var(--third-light-solid),  0px 10px 40px var(--third-dark-solid);
    }

    .background-primary:not(:has(.background-secondary)):not(:has(.background-third)) button.small .hover .shadow{
        box-shadow: 0px -6px 12px var(--primary-light-solid),  0px 6px 24px var(--primary-dark-solid);
    }
    .background-secondary:not(:has(.background-primary)):not(:has(.background-third)) button.small .hover .shadow{
        box-shadow: 0px -6px 12px var(--secondary-light-solid),  0px 6px 24px var(--secondary-dark-solid);
    }
    .background-third:not(:has(.background-secondary)):not(:has(.background-third)) button.small .hover .shadow{
        box-shadow: 0px -6px 12px var(--third-light-solid),  0px 6px 24px var(--third-dark-solid);
    }

    .background-primary:not(:has(.background-secondary)):not(:has(.background-third)) button.xsmall .hover .shadow{
        box-shadow: 0px -3px 6px var(--primary-light-solid),  0px 3px 12px var(--primary-dark-solid);
    }
    .background-secondary:not(:has(.background-primary)):not(:has(.background-third)) button.xsmall .hover .shadow{
        box-shadow: 0px -3px 6px var(--secondary-light-solid),  0px 3px 12px var(--secondary-dark-solid);
    }
    .background-third:not(:has(.background-secondary)):not(:has(.background-third)) button.xsmall .hover .shadow{
        box-shadow: 0px -3px 6px var(--third-light-solid),  0px 3px 12px var(--third-dark-solid);
    }


    button.medium .border{
        border-radius: 14px;
    }
    button.small .border{
        border-radius: 12px;
    }
    button.xsmall .border{
        border-radius: 8px;
    }

    button.medium .content {
        border-radius: 14px;
    }
    button.small .content {
        border-radius: 12px;
    }
    button.xsmall .content {
        border-radius: 8px;
    }

    /* primary button */
    button.primary {
        cursor: pointer;
    }
    button.primary .hover .border {
        background: linear-gradient(105deg, var(--primary-light-stroke) 0%, var(--primary-dark-stroke) 100%);
    }
    button.primary .hover .solid {
        background: linear-gradient(105deg, var(--primary-color) 0%, var(--primary-color) 100%);
    }
    button.primary:hover .hover {
        opacity: 1;
    }
    button.primary .active .border {
        background: linear-gradient(105deg, var(--primary-light-stroke) 0%, var(--primary-dark-stroke) 100%);
    }
    button.primary .active .solid {
        background: linear-gradient(105deg, var(--primary-light-solid) 0%, var(--primary-dark-solid) 100%);
        box-shadow: inset -4px -4px 8px var(--primary-light-solid), inset 4px 4px 8px var(--primary-dark-solid);
    }
    button.primary:active .active {
        opacity: 1;
    }
    button.primary:active .hover {
        opacity: 0;
    }
    button.primary .solid {
        background: linear-gradient(105deg, var(--primary-light-solid) 0%, var(--primary-dark-solid) 100%);
    }
    button.primary .border {
        background: linear-gradient(105deg, var(--primary-light-stroke) 0%, var(--primary-dark-stroke) 100%);
    }

    /* secondary button */
    button.secondary {
        cursor: pointer;
    }
    button.secondary .hover .border {
        background: linear-gradient(105deg, var(--secondary-light-stroke) 0%, var(--secondary-dark-stroke) 100%);
    }
    button.secondary .hover .solid {
        background: linear-gradient(105deg, var(--secondary-color) 0%, var(--secondary-color) 100%);
    }
    button.secondary:hover .hover {
        opacity: 1;
    }
    button.secondary .active .border {
        background: linear-gradient(105deg, var(--secondary-light-stroke) 0%, var(--secondary-dark-stroke) 100%);
    }
    button.secondary .active .solid {
        background: linear-gradient(105deg, var(--secondary-light-solid) 0%, var(--secondary-dark-solid) 100%);
        box-shadow: inset -4px -4px 8px var(--secondary-light-solid), inset 4px 4px 8px var(--secondary-dark-solid);
    }
    button.secondary:active .active {
        opacity: 1;
    }
    button.secondary:active .hover {
        opacity: 0;
    }
    button.secondary .solid {
        background: linear-gradient(105deg, var(--secondary-light-solid) 0%, var(--secondary-dark-solid) 100%);
    }
    button.secondary .border {
        background: linear-gradient(105deg, var(--secondary-light-stroke) 0%, var(--secondary-dark-stroke) 100%);
    }

    /*white*/
    button.white {
        cursor: pointer;
    }
    button.white .hover .border {
        background: linear-gradient(105deg, var(--white) 0%, var(--white) 100%);
    }
    button.white .hover .solid {
        background: linear-gradient(105deg, var(--white) 0%, var(--white) 100%);
    }
    button.white:hover .hover {
        opacity: 1;
    }
    button.white .active .border {
        background: linear-gradient(105deg, var(--white) 0%, var(--white) 100%);
    }
    button.white .active .solid {
        background: linear-gradient(105deg, var(--white) 0%, var(--white) 100%);
        box-shadow: inset -4px -4px 8px var(--white-light-solid), inset 4px 4px 8px var(--white-dark-solid);
    }
    button.white:active .active {
        opacity: 1;
    }
    button.white:active .hover {
        opacity: 0;
    }
    button.white .solid {
        background: linear-gradient(105deg, var(--white) 0%, var(--white) 100%);
    }
    button.white .border {
        background: linear-gradient(105deg, var(--white) 0%, var(--white) 100%);
    }

    button.white .solid {
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    /* disabled */
    button[disabled] {
        color: var(--cg300);
        cursor: not-allowed;
    }

    button[disabled] .solid {
        background: var(--cg40);
    }

    button[disabled] .border {
        background: linear-gradient(105deg, var(--white) 0%, var(--cg100) 100%);
        transition: .2s ease;
    }

    button[disabled] .hover .solid, button[disabled] .active .solid {
        background: var(--cg100);
        box-shadow: inset 0px 0px 0px var(--white), inset 0px px 0px var(--white);
    }

    button[disabled] .hover .border, button[disabled] .active .border {
        background: var(--cg300);
    }

    button[disabled]:hover .hover, button[disabled]:active .active {
        opacity: 1;
    }

    button[disabled]:hover > .border {
        opacity: 0;
    }
    button[disabled] .hover .shadow, button[disabled] .active .shadow {
        box-shadow: 0px 0px 0px var(--white), 0px px 0px var(--white) !important;
    }

}