<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../base.css" rel="stylesheet"/>
    <link href="../color/color.css" rel="stylesheet"/>
    <link href="./button.css" rel="stylesheet"/>
</head>
<body class="background-third">
<div class="safe-area">
    <button class="primary xsmall text-white">
        <div class="status hover">
            <div class="border shadow"></div>
            <div class="solid">
            </div>
            <div class="dynamic-size">
                버튼
            </div>
            <div class="content align-items-center justify-content-center">
                버튼
            </div>
        </div>
        <div class="status active">
            <div class="border shadow"></div>
            <div class="solid">
            </div>
            <div class="dynamic-size">
                버튼
            </div>
            <div class="content align-items-center justify-content-center">
                버튼
            </div>
        </div>
        <div class="border shadow"></div>
        <div class="solid">
        </div>
        <div class="dynamic-size">
            버튼
        </div>
        <div class="content align-items-center justify-content-center">
            버튼
        </div>
    </button>
</div>
<div class="safe-area">
    <button class="primary small text-white">
        <div class="status hover">
            <div class="border shadow"></div>
            <div class="solid">
            </div>
            <div class="dynamic-size">
                버튼
            </div>
            <div class="content align-items-center justify-content-center">
                버튼
            </div>
        </div>
        <div class="status active">
            <div class="border shadow"></div>
            <div class="solid">
            </div>
            <div class="dynamic-size">
                버튼
            </div>
            <div class="content align-items-center justify-content-center">
                버튼
            </div>
        </div>
        <div class="border shadow"></div>
        <div class="solid">
        </div>
        <div class="dynamic-size">
            버튼
        </div>
        <div class="content align-items-center justify-content-center">
            버튼
        </div>
    </button>
</div>
<div class="safe-area">
    <button class="primary medium text-white">
        <div class="status hover">
            <div class="border shadow"></div>
            <div class="solid">
            </div>
            <div class="dynamic-size">
                버튼
            </div>
            <div class="content align-items-center justify-content-center">
                버튼
            </div>
        </div>
        <div class="status active">
            <div class="border shadow"></div>
            <div class="solid">
            </div>
            <div class="dynamic-size">
                버튼
            </div>
            <div class="content align-items-center justify-content-center">
                버튼
            </div>
        </div>
        <div class="border shadow"></div>
        <div class="solid">
        </div>
        <div class="dynamic-size">
            버튼
        </div>
        <div class="content align-items-center justify-content-center">
            버튼
        </div>
    </button>
</div>
</body>
</html>