<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../color/color.css" rel="stylesheet"/>
    <link href="./button.css" rel="stylesheet"/>
</head>
<body>
<button class="secondary small text-white" >
    <div class="status hover">
        <div class="border"></div>
        <div class="solid">
        </div>
        <div class="dynamic-size">
            버튼
        </div>
        <div class="content align-items-center justify-content-center">
            버튼
        </div>
    </div>
    <div class="status active">
        <div class="border"></div>
        <div class="solid">
        </div>
        <div class="dynamic-size">
            버튼
        </div>
        <div class="content align-items-center justify-content-center">
            버튼
        </div>
    </div>
    <div class="border"></div>
    <div class="solid">
    </div>
    <div class="dynamic-size">
        버튼
    </div>
    <div class="content align-items-center justify-content-center">
        버튼
    </div>
</button>
</body>
</html>