@layer color {
    :root {
        --cg00: #FFFFFF;
        --cg900: #12161A;
        --cg800: #292E33;
        --cg700: #3D454D;
        --cg600: #525C66;
        --cg500: #6C7680;
        --cg300: #98A5B3;
        --cg100: #DAE0E6;
        --cg60: #E4EAF0;
        --cg40: #EDF1F5;
        --cg20: #F7F9FA;

        --primary-light : 42%;
        --primary-color: lch(var(--primary-light) 77 284);
        --background-color: lch(var(--primary-light) 77 284);
        --light-shadow: lch(calc(var(--primary-light) + 10%) 77 284);
        --dark-shadow: lch(calc(var(--primary-light) - 10%) 77 284);
        --font-color: white;

        --direction-x: -4px;
        --direction-y: -4px;
        --direction-x-invert: 4px;
        --direction-y-invert: 4px;
        --text-direction-x: -2px;
        --text-direction-y: -2px;
        --text-direction-x-invert: 2px;
        --text-direction-y-invert: 2px;
    }

    .primary {

    }
}