@layer color {
    :root {
        --cg00: #FFFFFF;
        --cg900: #12161A;
        --cg800: #292E33;
        --cg700: #3D454D;
        --cg600: #525C66;
        --cg500: #6C7680;
        --cg300: #98A5B3;
        --cg100: #DAE0E6;
        --cg60: #E4EAF0;
        --cg40: #EDF1F5;
        --cg20: #F7F9FA;

        --white: lch(100% 0 0);
        --black: lch(6.5% 3.5 254);

        --primary-light : 46.5%;
        --primary-croma : 92;
        --primary-hue : 42;

        --secondary-light: 27%;
        --secondary-croma: 27.22;
        --secondary-hue: 250.9;

        --third-light: 90%;
        --third-croma: 6.85;
        --third-hue: 253.9;

        --primary-color: lch(var(--primary-light) var(--primary-croma) var(--primary-hue));
        --primary-background-color: lch(var(--primary-light) var(--primary-croma) var(--primary-hue));
        --primary-light-solid: lch(calc(var(--primary-light) + 15%) var(--primary-croma) var(--primary-hue));
        --primary-dark-solid: lch(calc(var(--primary-light) - 15%) var(--primary-croma) var(--primary-hue));
        --primary-light-stroke: lch(calc(var(--primary-light) + 25%) var(--primary-croma) var(--primary-hue));
        --primary-dark-stroke:lch(calc(var(--primary-light) - 25%) var(--primary-croma) var(--primary-hue));

        --secondary-color: lch(var(--secondary-light) var(--secondary-croma) var(--secondary-hue));
        --secondary-background-color: lch(var(--secondary-light) var(--secondary-croma) var(--secondary-hue));
        --secondary-light-solid: lch(calc(var(--secondary-light) + 15%) var(--secondary-croma) var(--secondary-hue));
        --secondary-dark-solid: lch(calc(var(--secondary-light) - 15%) var(--secondary-croma) var(--secondary-hue));
        --secondary-light-stroke: lch(calc(var(--secondary-light) + 25%) var(--secondary-croma) var(--secondary-hue));
        --secondary-dark-stroke:lch(calc(var(--secondary-light) - 25%) var(--secondary-croma) var(--secondary-hue));

        --third-color: lch(var(--third-light) var(--third-croma) var(--third-hue));
        --third-background-color: lch(var(--third-light) var(--third-croma) var(--third-hue));
        --third-light-solid: lch(calc(var(--third-light) + 15%) var(--third-croma) var(--third-hue));
        --third-dark-solid: lch(calc(var(--third-light) - 15%) var(--third-croma) var(--third-hue));
        --third-light-stroke: lch(calc(var(--third-light) + 25%) var(--third-croma) var(--third-hue));
        --third-dark-stroke:lch(calc(var(--third-light) - 25%) var(--third-croma) var(--third-hue));

        --white-background-color: lch(100% 0 0);
        --white-light-solid: lch(90% 0 0);
        --white-dark-solid: lch(85% 0 0);

        --direction-x: -4px;
        --direction-y: -4px;
        --direction-x-invert: 4px;
        --direction-y-invert: 4px;
        --text-direction-x: -2px;
        --text-direction-y: -2px;
        --text-direction-x-invert: 2px;
        --text-direction-y-invert: 2px;
    }

    .background-primary{
        background-color: var(--primary-background-color);
    }
    .background-secondary{
        background-color: var(--secondary-background-color);
    }
    .background-third{
        background-color: var(--third-background-color);
    }

    .text-white{
        color: var(--white);
    }
    .text-black{
        color: var(--black);
    }
    .text-primary{
        color: var(--primary-color);
    }
}